{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "prettier/prettier": 1,
    "react/prop-types": 0,
    "no-unused-vars": 1,
    "no-use-before-define": ["error", { "functions": false, "classes": false, "variables": true }],
    "no-underscore-dangle": 0
  }
}